.wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.imageBackground {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.actionable {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }

  image {
    display: none;
  }
}

.image {
  opacity: 0;
}

.colorBackground {
  width: 100%;
  height: 100%;
}
